.rowContainer{
    display: flex;
    margin-bottom: 40px;
}
.internalbuttons{
    min-height: 40px;
    min-width: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.internalbuttons:hover{
    background-color: azure;
}
.internalbuttons:focus{
    outline: none;
}
.internalbuttons:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}