body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowContainer{
    display: flex;
    margin-bottom: 40px;
    /* justify-content: center; */
}
.internalbuttons{
    min-height: 40px;
    min-width: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.internalbuttons:hover{
    background-color: azure;
}
.internalbuttons:focus{
    outline: none;
}
.internalbuttons:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.statusBar{
    width: 100%;
    /* min-height: 20px; */
    background-color: black;
    position: absolute;
    bottom:0;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    color: white;
    border-radius: 20px 20px 0px 0px;
}
.restartButton button{
    position: absolute;
    right: 10px;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 10px;
}
.restartButton button:focus{
    border: none;
    outline: none;
}
.restartButton button:hover{
    background-color: azure;
}