body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/5d/9f/61/5d9f6140fb8e45c1a1f05033ce3f456c.jpg');
}
.rowContainer{
    display: flex;
}
.internalbuttons{
    min-height: 40px;
    min-width: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.internalbuttons:hover{
    background-color: azure;
}
.internalbuttons:focus{
    outline: none;
}
.internalbuttons:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/* Status Bar */
.statusBar{
    width: 100%;
    /* min-height: 20px; */
    background-color: black;
    position: absolute;
    bottom:0;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    color: white;
    border-radius: 20px 20px 0px 0px;
}

/* Tool Panel */
.toolPanel{
    margin-left: 20px;
    padding: 20px;
    right: 12.5%;
    height: 300px;
    background-color: rgb(239,239,239);
    border-radius: 20px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 500 22px Poppins;
    max-width: 150px;
}
.restartButton button{
    padding: 5px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    white-space: nowrap;
    font: 500 30px Poppins;
}
.restartButton button:focus{
    border: none;
    outline: none;
}
.restartButton button:hover{
    background-color: azure;
}
.restartButton button span{
    vertical-align: middle;
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 1s;
    font: 500 22px Poppins;
}
.restartButton button:hover span{
    max-width: 7rem;
}
.winnerDisplayWindow{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font: 500 30px Poppins;
    height: 40%;
    width: 50%;
    background: #005AA7; 
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7); 
    background: linear-gradient(to bottom, #FFFDE4, #005AA7);
    font-size: 44px;
    font-weight: 700;
    color: rgba(255,255,255,0.9);
    /* color: white; */
}
.winnerDisplayWindow button{
    border: none;
    width: 100%;
    height: 20%;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.24);
    margin: 10px;
    bottom: -10px;
    font-size: 22px;
    color: rgba(255,255,255,0.9);
}
.winnerDisplayWindow button:focus{
    outline: none;
    border: none;
}
#blurOverlay{
    background-color: rgba(255,255,255,0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
}

.instructions{
    z-index: 1;
    padding: 40px;
    color: white;
    font-size: 1.28rem;
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: rgba(58, 58, 58, 0.705);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skipInstructions{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 130px;
    background-color: rgb(255, 255, 255);
}

.restartWindow{
    z-index: 1;
    position: absolute;
    height: 30%;
    width: 40%;
    background-color: rgba(58, 58, 58, 0.705);
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.restartWindow span{
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}
.restartYes{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    height: 20%;
    left: 13%;
    position: absolute;
    bottom: 10px;
    border: none;
    color: white;
    background-color: rgba(0,240,0,0.5);
}
.restartNo{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    height: 20%;
    right: 13%;
    position: absolute;
    bottom: 10px;
    border: none;
    color: white;
    background-color: rgba(240, 56, 0, 0.5);
}